@charset "utf-8";

/**
 * Style variables
 */
/* $base-font-family:     'Source Code Pro', monospace !default;*/
$base-font-size:       14px !default;
$mobile-font-size:     12px !default;
$base-line-height:     1.5 !default;
$container-width:      90% !default;
$container-max-width:  1000px !default;

/**
 * Main website title style
 */
.web_title {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/**
 * Website upper menu navigation
 */
.menu { 
    margin-bottom: 25px;
    text-align: center;
}
.menu ul {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
}
.menu ul li {
    display: inline;
    margin-left: 20px;
}
.menu ul li a {
    text-decoration: none;
    color: var(--text-color);
}
.menu ul li a:hover {
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--base-color);
}

/**
 * Images
 */
.imgleft {clear: right; float: left; margin: 0px 20px 15px 0; }
.imgright {clear: left; float: right; margin: 0px 0px 15px 20px; }

/**
 * Layout
 */
p { margin-bottom:20px;  text-align: justify; }

/**
 * Highlight/Markup
 */
::selection { background: var(--selection-background);  color: var(--selection-text); }
::-moz-selection { background: var(--selection-background);  color: var(--selection-text); }

/**
 * Lists
 */
:not(.menu) > ul { list-style: none;  padding-left: 0; }
:not(.menu) > ul { list-style-type: none; }
:not(.menu) > ul > li:before { margin-right: 9px; }

